---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
    <p>That's a new framework for me to test and I think its great so far..</p>
    <p>So.. lets make a blog like its Ruby on rails in 2007!</p>
	</body>
</html>
